In [3]:
# Import the dependencies:
import pandas as pd
from dotenv import load_dotenv
import os
import requests
import alpaca_trade_api as tradeapi

# Load the env file
load_dotenv()

True

In [4]:
# Create the API and secret key variable object:
alpaca_api_key = os.getenv('APCA_API_KEY_ID')
alpaca_secret_key = os.getenv('APCA_API_SECRET_KEY')

# Create the tradeapi.REST object using the API & secret keys, and setting the api_version to 'v2':
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version='v2'
)

# Get the tickers for the stocks that you'll be analyzing:
tickers = ['AMZN', 'TSLA']

# Set the Timeframe to 1Day
timeframe = '1Day'

# Set the start and end dates
start_date = pd.Timestamp('2018-12-20', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2023-12-20', tz='America/New_York').isoformat()


# Create the `anaya_stocks_df` DataFrame using the `get_bars()` and .df functions:
anaya_stocks_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Review the DataFrame:
display(anaya_stocks_df.head())
display(anaya_stocks_df.tail())

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2018-12-20 05:00:00+00:00,1460.83,1509.5000,1432.69,273711,1484.00,10420537,1466.597057,AMZN
2018-12-21 05:00:00+00:00,1377.45,1480.0000,1363.96,308968,1464.99,15467093,1407.940433,AMZN
2018-12-24 05:00:00+00:00,1343.96,1396.0300,1307.00,179370,1346.00,7507889,1350.507770,AMZN
2018-12-26 05:00:00+00:00,1470.90,1473.1567,1363.01,260480,1368.89,10817060,1419.136755,AMZN
2018-12-27 05:00:00+00:00,1461.64,1469.0000,1390.31,244781,1454.20,10054917,1430.710409,AMZN

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2023-12-14 05:00:00+00:00,251.05,253.8800,240.79,1655908,241.22,160856357,248.748395,TSLA
2023-12-15 05:00:00+00:00,253.50,254.1300,248.30,1183068,251.21,135813500,252.039081,TSLA
2023-12-18 05:00:00+00:00,252.08,258.7400,251.36,1224579,253.78,116439752,254.936505,TSLA
2023-12-19 05:00:00+00:00,257.22,258.3399,253.01,1030651,253.48,106763970,256.192478,TSLA
2023-12-20 05:00:00+00:00,247.14,259.8400,247.00,1270819,256.41,124853973,254.479493,TSLA