# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.

3. Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

WARNING:tensorflow:From C:\Users\legar\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [3]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = pd.read_csv(
    Path('HR-Employee-Attrition.csv')
)

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [4]:
# Review the DataFrame
display(employee_df.head())
display(employee_df.tail())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [5]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables[:10]

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [8]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [13]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)
# Display the DataFrame
encoded_df.head()

C:\Users\legar\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [17]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns=categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [19]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attrition_df = pd.concat(
    [
    numerical_variables_df,
    encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [22]:
# Define the target set y using the Attrition_Yes column
y = attrition_df['Attrition_Yes']

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [23]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attrition_df.drop(columns=['Attrition_Yes', 'Attrition_No'])

# Review the features DataFrame
X[:5]

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [24]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [25]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation='sigmoid'))

WARNING:tensorflow:From C:\Users\legar\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

### Step 2: Display the structure of your model using the `summary` function.

In [28]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                1568

 dense_1 (Dense)             (None, 14)                406

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 1989 (7.77 KB)
Trainable params: 1989 (7.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [29]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

WARNING:tensorflow:From C:\Users\legar\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [30]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\legar\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\legar\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

35/35 [==============================] - 1s 3ms/step - loss: 0.5270 - accuracy: 0.7804
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8494
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3724 - accuracy: 0.8530
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8612
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8684
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 0.3120 - accuracy: 0.8748
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2968 - accuracy: 0.8829
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2851 - accuracy: 0.8829
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2740 - accuracy: 0.8875
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2641 - accuracy: 0.8920
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2537 - accuracy: 0.8975
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2456 - accuracy: 0.9047
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2380 - accuracy: 0.9093
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2295 - accuracy: 0.9102
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2239 - accuracy: 0.9147
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2160 - accuracy: 0.9129
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2089 - accuracy: 0.9211
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2028 - accuracy: 0.9265
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9274
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1913 - accuracy: 0.9310
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1844 - accuracy: 0.9292
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1794 - accuracy: 0.9328
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1743 - accuracy: 0.9356
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1677 - accuracy: 0.9383
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1639 - accuracy: 0.9392
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1584 - accuracy: 0.9410
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1529 - accuracy: 0.9419
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1476 - accuracy: 0.9446
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1431 - accuracy: 0.9456
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1375 - accuracy: 0.9456
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1326 - accuracy: 0.9528
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1289 - accuracy: 0.9510
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1237 - accuracy: 0.9583
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1180 - accuracy: 0.9564
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9583
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1091 - accuracy: 0.9637
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1054 - accuracy: 0.9655
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1023 - accuracy: 0.9619
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0981 - accuracy: 0.9701
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0942 - accuracy: 0.9673
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0908 - accuracy: 0.9746
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0871 - accuracy: 0.9719
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0829 - accuracy: 0.9746
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0792 - accuracy: 0.9782
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0763 - accuracy: 0.9755
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0737 - accuracy: 0.9791
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0696 - accuracy: 0.9809
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0682 - accuracy: 0.9864
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0650 - accuracy: 0.9873
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0609 - accuracy: 0.9882
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0583 - accuracy: 0.9882
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0556 - accuracy: 0.9927
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0536 - accuracy: 0.9900
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0515 - accuracy: 0.9909
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0497 - accuracy: 0.9927
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0469 - accuracy: 0.9927
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0443 - accuracy: 0.9936
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0432 - accuracy: 0.9946
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0405 - accuracy: 0.9927
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0381 - accuracy: 0.9936
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0366 - accuracy: 0.9946
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0348 - accuracy: 0.9946
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0332 - accuracy: 0.9946
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0320 - accuracy: 0.9946
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0306 - accuracy: 0.9936
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0285 - accuracy: 0.9955
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0275 - accuracy: 0.9946
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0260 - accuracy: 0.9946
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0251 - accuracy: 0.9964
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0234 - accuracy: 0.9964
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0224 - accuracy: 0.9973
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0210 - accuracy: 0.9982
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0200 - accuracy: 0.9991
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0189 - accuracy: 0.9982
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0182 - accuracy: 0.9991
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0174 - accuracy: 0.9991
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0165 - accuracy: 0.9991
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0156 - accuracy: 0.9982
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0147 - accuracy: 0.9991
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0141 - accuracy: 0.9991
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0132 - accuracy: 0.9991
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0126 - accuracy: 0.9991
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0120 - accuracy: 0.9991
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0112 - accuracy: 0.9991
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0107 - accuracy: 0.9991
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0101 - accuracy: 0.9991
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0095 - accuracy: 0.9991
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0093 - accuracy: 0.9991
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0086 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0080 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0075 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0059 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0054 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0053 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [31]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2) 

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.9390 - accuracy: 0.8207 - 237ms/epoch - 20ms/step
Loss: 0.9390032291412354, Accuracy: 0.820652186870575

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [34]:
# Set the model's file path
file_path = Path("..Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn.save(file_path)